@import '../sass/core/main';

.fa {
  font-size: 25px;
  margin-right: 3px;
}
#navbar {
  padding: 0;
  a {
    color: $white;
    font-size: $font-m + 2;
    &:hover {
      background: $blue;
    }
  }
}
.mp-header {
  &__top {
    font-family: 'fantasy, Arial, Narrow, Arial, sans-serif';
    font-style: italic;
  }
}