$base-line-height: 60px;
$off-white: rgba($red, 0.2);
$spin-duration: .75s;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $white;
  }
  &:after {
    content: '';
    z-index: 1;
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $red;
    animation: spin $spin-duration infinite linear;
    border-style: double;
    border-width: .5rem;
  }
}
