// Define main colors for app

$white: #ffffff;
$black: #000000;
$light-red: #ff4d4d;
$red: #B71427;
$light-gray: #D3D3D3;
$gray: #404040;
$dark-gray: #2e2e2e;
$light-green: #90EE90;
$green: #557c3e;
$blue: #6DBDD6;
$yellow: #FFE658;


